.bookpod{
    padding-top: 6px;
    margin-left: 50px;
    display: inline-flex;
}
.bookpod h1{
    margin-top: 2px;
    font-size: 35px;
}
.home ul{
    margin-left: 240px;
    text-align: center;
    margin-top: 6px;
}
.home ul li{
    display: inline;
    padding: 20px;
    text-align: center;
}
.home ul li a{
    text-decoration: none;
    color: black;
}
a.active,a:hover{
    background: #e9e1e9;
    transition: .5s;
    padding: 5px;
    border-radius: 10px;
}
.search form input{
    float: right;
    align-items: right;
    background-color: rgba(236, 230, 230, 0.966);
    border-radius: 30px;
    margin-left: 320px;
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.footer {
    background-color: rgba(150, 168, 204, 0.966);
    font-size: 13px;
    margin-top: 30px;
}

.footer-container {
    padding: 20px;
}

.footer-books {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-city {
    margin-bottom: 8px;
    text-align: center;
}

@media(max-width:768px) {
    .footer-city {
        width: 100%;
    }
}

.footer-cat a {
    color: #4d4949;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
}

.footer-copyright {
    color: #4d4949;
    text-align: center;
    padding-top: 12px;
}