.heading h1{
    text-align: center;
    font-size: 60px;
    font-style: bold;
}
.bookpod h1{
    margin-top: 2px;
}
.heading h1 b{
    color: darkblue;
    font-size: 48px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.heading p{
    color: darkgray;
    font-size: 18px;
    text-align: center;
}

.button{
    text-align: center;
    margin-top: 5px;
}
.button .btn{
    padding: 12px 20px;
    background: darkblue;
    border: none;
    color: white;
    border-radius: 8px;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    transition: all .3s ease-in;
}
.button .btn:hover{
    background: transparent;
    color: darkblue;
    border: 2px solid darkblue;
    display: inline-block;
}
.img{
    padding-left: 180px;
    display: inline-flex;
    margin-top: 60px;
    align-items: center;
}
.card-container{
    background-color: white;
    border: none;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.1s;
    width: 420px;
    height: 230px;
    margin-top: 3px;
    margin-left: -50px;
}
.card-container:hover{
    transform: translateY(.0.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
}
.card-container .card-content{
    padding: 27px;
}
.card-container .card-content h4{
    font-size: 16px;
    font-weight: bold;
    color: rgb(30, 30, 177);
    margin: 0px;
    padding: 4px;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.card-container .card-content h2{
    font-size: 25px;
    font-weight: bold;
    color: black;
    margin: 0px;
    padding: 5px;
    text-align: left;
}
.card-container .card-content p{
    font-size: 18px;
    color: darkgray;
    text-align: left;
}
.main-card{
    background-color: rgb(6, 6, 114);
    border: none;
    border-radius: 20px;
    overflow: hidden;
    
    
    cursor: pointer;
    transition: 0.2s;
    width: 1000px;
    height: 500px;
    padding: 50px;
    margin-top: 60px;
    margin-left: 190px;
    text-align: center;
}
.main-card .feature h2{
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 2px;
}
.main-card .upper .photo{
    display: inline-flex;
    padding: 30px;
    margin-left: 2px;
    margin-top: 10px;

}
.main-card .upper .photo .name{
    color: white;
    margin-left: -95px;
    margin-top: 80px;
    text-align: center;
}
.main-card .lower .pic{
    display: inline-flex;
    padding: 30px;
    margin-left: 2px;
    margin-top: 20px;
}
.main-card .lower .pic .naam{
    color: white;
    margin-left: -95px;
    margin-top: 80px;
}
@media (max-width: 760px){
    .heading{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 500px){
    .grid{
        grid-template-columns: repeat(1, 1fr);
    }
    .grid > article{
        text-align: center;
    }
}