.books{
    background-color: darkblue;
    border: none;
    border-radius: 60%;
    overflow: hidden;
    cursor: pointer;
    padding: 5px;
    display: inline-block;
    margin-left: 270px;
    margin-top: 130px;
}
.bookpod h1{
    margin-top: 2px;
}

.books:hover{
    transform: translateY(.0.5%);
    box-shadow: 0 8rem 8rem rgba(0, 0, 0.4, 0.4);
}

.books-bot{
    font-size: 25px;
    margin-left: 255px;
    margin-top: -8px;
    text-align: center;
    color: rgb(0, 0, 0);
}
.type .both{
    display: inline-block;
    text-align: center;
}
.footer{
    margin-top: 83px;
}